<div class="row">
  <div class="col-sm-12 answer">
    <h3>{{answerTitle}}</h3>
    <img class="image"{{bind-attr src=answerImage}} />
    <h5>Answered by: {{answerName}}</h5>
    <h4 class="well">{{answerDescription}}</h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-danger" {{action 'goBack'}}>Back to Question</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-danger" {{action 'delete'}}>Delete</button>
  </div>
</div>
