<div class="manage-question">
  <div class="question">
    <h3>{{title}}</h3>
    <img class="image"{{bind-attr src=image}} /><br />
    <span class="name">Asked by: {{name}}</span>
  </div>
</div>

{{#if isUpdating}}
<div class="row">
  <div class="col-sm-12">
    <div class="header">Update Question</div>
    <form class="edit-question-form well">
      <div class="form-group">
        <label for="name">New name</label>
        {{input  id="name" class="form-control" value=name }}
        <label for="image">New Picture</label>
        {{input  id="image" class="form-control" value=image }}
        <label for="title">Change Title</label>
        {{input  id="title" class="form-control" value=title }}
        <label for="description">Change Description</label>
        {{input  id="description" class="form-control" value=description }}
      </div>
      <button class="btn btn-primary" {{action 'editQuestion'}}>Edit Question</button>
    </form>
  </div>
</div>
{{else}}
<button class="btn btn-primary" {{action 'update'}}>Update Question</button>
{{/if}}
<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
