<div class="row">
  <div class="col-sm-12">
    <form class="question-form">
      <div class="form-group">
        <label for="name">Whats your name?</label>
        {{input  id="name" class="form-control" value=name }}
        <label for="image">Upload a picture</label>
        {{input  id="image" class="form-control" value=image }}
        <label for="description">Whats your question?</label>
        {{input  id="description" class="form-control" value=description }}
      </div>
      <button class="btn btn-primary" {{action 'saveQuestion'}}>Add Question</button>
    </form>
  </div>
</div>

<div class="row">
  {{#each}}
    <div class="col col-sm-6">
      {{#link-to 'question' this.id}}<div class="author">Author: {{name}}</div>{{/link-to}}
      <div class="question">{{description}}</div>
    </div>
  {{/each}}
</div>
